.catalog {
  padding-top: 31px;

  @include media($md) {
    padding-top: 60px;
  }

  @include media($lg) {
    padding-top: 96px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 25px;

    @include media ($md) {
      font-size: 30px;
    }
  }


  &__desc {
    max-width: 435px;
    margin-bottom: 16px;

    @include media($md) {
      margin-bottom: 65px;
    }

    @include media($lg) {
      margin-bottom: 55px;
    }
  }
}

.gallery {
  list-style-type: none;

  @include media($md) {
    display: flex;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 60px;
  }

  @include media($lg) {
    padding-left: 0;
    padding-right: 0;
  }

  &__item {
    padding: 20px;
    border-top: 1px solid var(--color-border-second);

    @include media($md) {
      width: 50%;
      padding: 0;
      border-top: 0;

      &:first-child {
        width: 100%;
      }
    }

    @include media ($lg) {
      width: 33.3333%;
    }

    &:last-child {
      border-bottom: 1px solid var(--color-border-second);

      @include media($md) {
        border-bottom: 0;
      }
    }

    @include media($md) {
      &:nth-child(odd):not(:first-child) .gallery__bottom {
        background-color: var(--c-bg-card);

        @include media ($lg) {
          background-color: var(--color-primary-opacity);
        }
      }

      &:first-child .gallery__photo {
        height: 380px;
      }
    }

    @include media($lg) {
      position: relative;
    }
  }

  &__photo {
    display: block;
    min-width: 280px;
    height: 280px;
    overflow: hidden;

    cursor: pointer;

    @include media ($md) {
      height: 267px;
    }

    & .img {
      display: block;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__bottom {
    margin-top: 10px;

    @include media($md) {
      margin-top: 0;
      background-color: var(--color-radio-bg);
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: end;
    }

    @include media($lg) {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: var(--color-primary-opacity);
    }
  }

  &__info {
    margin-bottom: 10px;

    @include media($md) {
      margin-bottom: 0;
    }
  }

  &__title {
    max-width: 100%;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;

    @include media($lg) {
      color: var(--c-bg-card);
    }
  }

  &__desc {
    max-width: 100%;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0;
    text-transform: none;

    @include media($lg) {
      color: var(--c-bg-card);
    }
  }

  &__btn {
    display: flex;
    align-items: baseline;
    background-color: transparent;
    font-family: $basic-family;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-primary);

    cursor: pointer;

    & .icon {
      width: 32px;
      height: 21px;
      margin-right: 15px;
      opacity: .3;

      @include media($md) {
        margin-right: 10px;
      }

      @include media($lg) {
        fill: var(--c-bg-card);
        opacity: 1;
      }
    }

    @include media($lg) {
      color: var(--c-bg-card);
    }
  }
}