.contact {
	padding-top: 33px;
	
	&__link {
		margin: 0 auto;
		margin-bottom: 58px;
	}

	&__map {
		position: relative;
		overflow: hidden;
		&::after {
			content: '';
			position: absolute;
			width: 17px;
			height: 17px;
			background: var( --c-bg-primary);
			border: 5px solid var(--color-secondary);
			border-radius: 100%;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		&__iframe {
			width: 100%;
			height: 100%;
		}
	}
}