.video {
  padding-top: 32px;
  padding-bottom: 49px;

  @include media($md) {
    padding-top: 58px;
    padding-bottom: 40px;
  }

  @include media($lg) {
    padding-top: 63px;
    padding-bottom: 85px;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 25px;

    @include media ($md) {
      font-size: 30px;
    }
  }


  &__desc {
    max-width: 445px;
    margin-bottom: 32px;

    @include media($md) {
      font-size: 21px;
      margin-bottom: 65px;
      max-width: 665px;
    }

    @include media($lg) {
      margin-bottom: 55px;
    }
  }


  &__player {
    @include media($md) {
      position: relative;
      width: 648px;
      height: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    @include media($lg) {
      width: 800px;
    }

    &-img {
      min-width: 320px;
      height: 201px;
      overflow: hidden;

      @include media($md) {
        height: 100%;
      }

      & .img-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }


  &__interface {
    padding: 0 20px;
    position: relative;
    margin-top: -47px;

    @include media($md) {
      margin-top: 0;
      padding: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }

    & .timeline {
      padding: 22px;
      background: var(--color-bg-opacity);

      @include media($md) {
        position: absolute;
        width: 389px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;

        @include media ($lg) {
          width: 540px;
        }
      }

      &__bar {
        min-width: 235px;
        height: 3px;
        background: var(--color-white-opacity);

        &-slider {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 13px;
            height: 13px;
            background: var(--color-secondary);
            border-radius: 50%;
            right: 0;
            top: -5px;
          }
        }
      }
    }
  }

  &__control {
    display: flex;
    background-color: var(--color-radio-bg);
    align-items: center;
    padding: 25px;

    @include media($md) {
      background-color: var(--color-bg-opacity);
      padding: 35px;
    }

    &-icon {
      fill: var(--color-icon);

      @include media($md) {
        fill: var(--color-secondary);
      }

    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: 0;
      background-color: transparent;
      cursor: pointer;

      @include media($md) {
        width: 24px;
        height: 24px;
      }

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        margin-left: 30px;
      }
    }
  }
}

.replay {
  width: 16px;
  height: 20px;
}

.subtitle {
  width: 32px;
  height: 20px;
}

.screensize {
  width: 20px;
  height: 20px;
}

.replay,
.subtitle,
.screensize {
  transition: fill .2s ease-in;

  &:hover {
    fill: var(--color-primary-text);

    @include media($md) {
      fill: var(--color-secondary-opacity);
    }
  }

  &:disabled {
    fill: var(--color-primary-opacity);
  }
}